@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.messages::-webkit-scrollbar {
  width: 0.64vw;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #1a1b1e;
}

.messages::-webkit-scrollbar-track {
  background-color: #2b2d31;
  border-radius: 2rem;
}
/*! Auth.js */

.auth {
  display: flex;
  background: #1e1f22;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auht-in {
  height: 20rem;
  width: 25rem;
  background: #313338;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  position: absolute;
  width: 5rem;
  margin-bottom: 12rem;
}

.auth-btn {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  width: 40%;
  height: 35px;
  position: relative;
  font-weight: 600;
  color: #bfc2c5;
  background: #505155;
  margin-top: 10rem;
}